<div *ngFor="let c of getCountries">
    <br>
<div class="card" >
    <h1 class="card-header">
      {{c.country}}
    </h1>
    
    <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Cases</th>
            <th scope="col">Today Cases</th>
            <th scope="col">Deaths</th>
            <th scope="col">Today Deaths</th>
            <th scope="col">Recovered</th>
            <th scope="col">Active</th>
            <th scope="col">Critical</th>
            <th scope="col">Cases Per One Million</th>
            <th scope="col">Deaths Per One Million</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{c.cases}}</td>
            <td>{{c.todayCases}}</td>
            <td>{{c.deaths}}</td>
            <td>{{c.todayDeaths}}</td>
            <td>{{c.recovered}}</td>
            <td>{{c.active}}</td>
            <td>{{c.critical}}</td>
            <td>{{c.casesPerOneMillion}}</td>
            <td>{{c.deathsPerOneMillion}}</td>

          </tr>
        </tbody>
      </table>
    </div>
    </div>
   
  