<div>
  <br>
    <div class="card" >
      <h1 class="card-header">
        Global
      </h1>
      
      <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Cases</th>
              <th scope="col">Deaths</th>
              <th scope="col">Recovered</th>
  
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{covidGlobalData?.cases}}</td>
              <td>{{covidGlobalData?.deaths }}</td>
              <td>{{covidGlobalData?.recovered }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  
