/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


body {
    padding:20px;
     margin: 5px; 
     font-family: Roboto, "Helvetica Neue", sans-serif;
     }
     
     footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(0, 110, 255);
        color: white;
        text-align: center;
     }
     
    
     #link{
      color:rgb(0, 110, 255)
     }
     #link:hover{
        color: white;
         border-radius: 5px;
        background-color: rgb(0, 110, 255);
        transition: ease;
     }
     